{{>layouts/header}}
<h1>Group : {{groupname}}</h1>
<ol>
    {{#teamDtoList}}
        <li><img src="{{imageUrl}}" width="350px" height="200px"><span>{{country}}</span></li>
    {{/teamDtoList}}
</ol>
{{>layouts/footer}}